<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">Sign In Here</button>
</mat-menu>




<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    <mat-toolbar color = primary> Register </mat-toolbar>

   
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
        

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>  

      <button mat-raised-button type = submit (click)="register(email,password)">Register</button>


    </mat-card>

</div>